@import "font.css";

$Merriweather: 'Merriweather',
serif;
$Montserrat: 'Montserrat',
sans-serif;
$Raleway: 'Raleway',
sans-serif;

html,
body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

*:focus {
    outline: none;
}

body {
    display: grid;
    grid-template-columns: minmax(430px, 1fr);
    grid-template-rows: max-content max-content max-content max-content max-content max-content;
    grid-template-areas:
        'header'
        'about'
        'works'
        'services'
        'team'
        'say'
        'sponsor'
        'contacts'
        'footer';
}

.header {
    grid-area: header;
    background-color: #eff0f2;
    padding-bottom: 180px;

}


.about {
    grid-area: about;
    padding-top: 118px;
    perspective: 500px;
    background-color: #f8fafa;
    padding-bottom: 65px;


}

.works {
    padding-top: 84px;
    grid-area: works;
    padding-bottom: 120px;
}

.services {
    padding-top: 116px;
    grid-area: services;
    background-color: #f9fbfb;
    padding-bottom: 112px;
}

.team {
    padding-top: 116px;
    grid-area: team;
    padding-bottom: 112px;
}

.say {
    padding-top: 116px;
    grid-area: say;
    background-color: #f9fbfb;
    padding-bottom: 112px;
}

.sponsor {
    grid-area: sponsor;
    padding-top: 116px;
    padding-bottom: 112px;
}

.contacts {
    grid-area: contacts;
    padding-top: 116px;
    padding-bottom: 112px;
    background-image: url(../img/new/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    grid-area: footer;
    color: white;
    background-color: black;
    padding-bottom: 50px;

}

.wrapper {
    margin: 0 auto;
    max-width: 1290px;
    padding: 0 20px;
}

.text-style {
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 40px;
}

.text-title_all {
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.text-subtitle_all {
    text-align: center;
    font-family: $Merriweather;
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 810px;

    &-head {
        padding-top: 70px;
        display: flex;
        justify-content: space-between;

        &-logo {
            outline: black solid 4px;
            margin-left: 30px;
            outline-offset: 3px;
        }

        &-nav {
            display: flex;

            &_item {
                display: flex;
                margin: 0;
                padding: 0;
            }

            &_li {
                padding-left: 20px;

            }
        }

    }

    &-title {
        text-align: center;

        &_span {
            background-color: #b2f2ee;
        }
    }

    &-button {
        margin-bottom: 80px;
        text-align: center;

        &_link {
            outline: solid 2px black;
            outline-offset: 18px;
            font-family: $Montserrat;
            font-weight: 400;
            font-size: 18px;
            padding: 0 66px;
        }
    }

}

.about-content {
    &_subtitle {
        margin-bottom: 150px;
    }

    &-item {
        display: flex;
        justify-content: space-around;

        &-img {
            &_worktable {
                margin-right: 50px;
                // margin-left: 100px;
                max-width: 500px;
                width: 487px;
                height: auto;
            }
        }

        &-text {
            max-width: 430px;

            &_title {
                font-family: $Merriweather;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                padding-bottom: 35px;
            }

            &_subtitle {
                font-family: $Raleway;
                font-weight: 400;
                padding-bottom: 35px;
                line-height: 2.3;
            }
        }
    }
}

.works-content {
    &_subtitle {
        padding-bottom: 94px;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &_img:nth-child(n) {
            margin-right: 10px;
            margin-top: 15px
        }

    }
}

.services-content {
    &_subtitle {
        margin-bottom: 80px;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &:nth-child(2n + 1) {
            margin-right: 30px;
        }

        &:nth-child(n + 4) {
            margin-top: 30px;
        }

        &-background {
            // height: 420px;
            max-width: 651px;
            background-color: #70f4e9;
            text-align: center;
            padding: 80px;
            position: relative;
            margin-right: 30px;
            margin-top: 20px;

            &::after {
                content: '';
                position: absolute;
                background-color: black;
                opacity: 0.5;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

            }

            &_title {
                font-family: $Merriweather;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 30px;
                position: relative;
                z-index: 1;

            }

            &_subtitle {
                font-family: $Raleway;
                font-weight: 400;
                line-height: 1.7;
                position: relative;
                z-index: 1;

            }


        }

        &-img1 {
            max-width: 651px;
            margin-top: 20px;
            margin-right: 31px;
        }

        &-img2 {
            max-width: 651px;
            margin-right: 30px;
            margin-top: 20px;
        }

        &-img3 {
            max-width: 651px;
            margin-top: 20px;
        }

        &-img4 {
            max-width: 651px;
            margin-right: 30px;
            margin-top: 20px;
        }

        &-img5 {
            max-width: 651px;
            margin-top: 20px;

        }
    }
}

.team-content {
    &_subtitle {
        margin-bottom: 100px;
    }


    &-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &_people:nth-child(n) {
            margin-top: 15px;
            margin-left: 15px;
        }
    }
}

.say-content {

    &_subtitle {
        margin-bottom: 60px;
    }

    &-reviews {
        background-color: #eaebed;
        display: flex;
        justify-content: center;
        padding: 50px 150px;
        flex-direction: column;
        max-width: 800px;
        margin: 0 auto;

        &-head {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            &_title {
                margin-right: 10px;
                font-family: $Merriweather;
                font-weight: 700;
                font-size: 20px;

                &::after {
                    content: '/';
                    color: black;
                    margin-left: 10px;
                    margin-bottom: 3px;
                }
            }


            &_subtitle {
                font-family: $Merriweather;
                font-weight: 400;
                font-size: 15px;
                align-self: center;
            }
        }


        &-text {
            font-family: $Raleway;
            font-weight: 400;
            font-size: 16px;
            padding-bottom: 30px;
        }

        &-stars {
            display: flex;
            justify-content: center;
        }
    }
}

.say-batton {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    &_arrow {
        margin-right: 10px;
        display: flex;
        background-color: #ffffff;
        border: 1px solid grey;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        &:focus {
            background-color: #71f6eb;
            outline: none;
        }
    }

    &_transform {
        transform: rotate(180deg);
    }
}

.sponsor-content {
    display: flex;
    justify-content: center;

    &_img {
        max-width: 100%;
    }
}

.contacts-content {
    display: flex;
    font-family: $Raleway;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;

    &-form {
        width: 500px;
        background-color: #4a5862;
        margin-right: 30px;


        &-item {
            display: flex;
            flex-direction: column;
            padding: 20px;

            &_input {
                padding: 20px;
                border: none;
                background-color: #495862;
                border-bottom: 1px solid #64757f;
                font-family: inherit;
                color: white;

            }

            &_textarea {
                max-width: 100%;
                min-width: 100%;
                max-height: 150px;
                height: 100px;
                border: none;
                background-color: #495862;
                padding: 20px;
                border-bottom: 1px solid #64757f;
                font-family: inherit;
                color: white;
                font-size: inherit;
                margin-bottom: 30px;
            }

            &_button {
                border: none;
                background-color: #6eeee4;
                width: 240px;
                height: 50px;
                font-family: $Montserrat;
                font-weight: 400;
                font-size: 18px;
            }
        }
    }

    &-map {
        background-color: #4a5862;
        width: 500px;

        &-list {

            margin-top: 30px;
            font-style: normal;

            &_item {
                color: white;
                margin-left: 15px;

                &:nth-child(4) {
                    margin-bottom: 30px;
                }
            }

        }

        &-img {
            max-width: 500px;
        }
    }
}


.footer {
    padding-top: 100px;

    &_title {
        color: white;
        font-family: $Raleway;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
    }

    &-social {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;

        &_link {
            background-color: #424648;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-description {
        font-family: $Raleway;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;

        &_text {
            color: #ffffff;
            font-family: inherit;
            text-align: center;
        }
    }
}

@media (max-width: 850px) {
    .contacts-content {
        flex-direction: column;
        align-items: center;


        &-form {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        &-map {
            width: 100%;

            &-img {
                max-width: 100%;
            }
        }
    }

    .services-content-item {

        &-background {
            margin-right: 0;
            padding: 40px;
        }

        &-img1 {
            width: 100%;
            margin-right: 0;
        }
    }

    .about-content-item {
        align-items: center;
        flex-direction: column;

        &-img {
            margin-bottom: 30px;

            &_worktable {
                margin-right: 0;
                width: 350px;
            }
        }
    }

    .header-content {
        &-head {
            flex-direction: column;

            &-logo {
                width: 90px;
            }

            &-nav {
                justify-content: flex-end;
                margin-right: 56px;

                &_item {
                    flex-direction: column;
                }
            }
        }

        &-title {
            font-size: 25px;
        }
    }
}